html {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 13px;
  --modviolet: hsl(263, 55%, 52%);
  --vdarkgrayblue: hsl(217, 19%, 35%);
  --vdarkblackblue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(0, 0%, 81%);
  --lightgrayblue: hsl(210, 46%, 95%);
}

body {
  background-color: var(--lightgrayblue);
}

blockquote {
  border: 1px solid green;
  font-size: 18px;
}

p {
  opacity: 70%;
  padding: 30px;
}

.container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 80% 20%;
  position: relative;
  width: 80%;
  top: 150px;
  left: 150px;
}

.profile {
  /* border: 1px solid pink; */
  display: flex;
  padding: 10px;
}

.test {
  border-radius: 10px;
  border-style: none;
}

.verified {
  opacity: 50%;
}

.profile div {
  /* border: 1px solid purple; */
  margin-top: 7px;
}

img {
  border: 1px solid var(--white);
  width: 30px;
  border-radius: 30px;
  margin: 15px;
}

.left {
  /* border: 1px solid black; */
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  /* row-gap: 1%; */
}

.top {
  /* border: 1px solid green; */
  display: flex;
  margin-bottom: 20px;
}

.bottom {
  /* border: 1px solid blue; */
  display: flex;
}

.purple {
  /* border: 1px dotted purple; */
  background-color: var(--modviolet);
  color: var(--white);
  margin-right: 30px;
}

.gray {
  /* border: 1px dotted gray; */
  background-color: var(--vdarkgrayblue);
  color: var(--white);
}

.white {
  /* border: 1px dotted black; */
  background-color: var(--white);
  margin-right: 30px;
  box-shadow: 10px 10px 30px var(--lightgray);
}

.black {
  /* border: 1px dotted white; */
  background-color: var(--vdarkblackblue);
  color: var(--white);
  box-shadow: 10px 10px 30px var(--lightgray);
}

.right {
  background-color: var(--white);
  margin-left: 20px;
  box-shadow: 10px 10px 30px var(--lightgray);
}
